.app-button {
    width: 110px;
    height: 30px;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:not(.disabled):hover {
        box-shadow: 0 0 3px rgba($color: #fff, $alpha: 0.9);
    }
    &.disabled {
        cursor: not-allowed;
        background-color: gray !important;
    }
}