@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./normalize.scss";
@import "./widgets/index.scss";
@import "./common/index.scss";
@import "./home.scss";
@import "./modal.scss";
@import "./admin/index.scss";
@import "./fund.scss";

.hidden {
    display: none;
}
.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}

.right-info {
    p {
        text-align: right;
    }
}

.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-1 {
    margin-bottom: 1px;
}
